.element-container{
  text-align: center;
  display: inline-block;
}

.rdiv{
  
}

.element{
  background: rgb(33,222,197);
  background: linear-gradient(36deg, rgba(33,222,197,1) 3%, rgba(51,247,126,1) 40%);
  padding: 25px !important;
  color: black;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5rem;
  border: 1px solid;
}

.element-no{
  color: aliceblue;
  font-size: 1rem;
}