.flex-container{
  display: flex;
  margin: 0 auto;
  width: 90rem;
}


.command-parent{
  width: 25rem;
  margin-right: 3rem;
}


.main-renderer{
  width: 62rem;
}

.rparent{
  height: 31rem; 
  width: 100%;
  background-color: #00001d;
  overflow: auto;
}

.cover{
  width: 100%;
  height: 100%;
}

.renderer{
  margin-top: 170px;
  text-align: center;
}



