.logo{
  margin: 1rem auto;
}

.about{
  position: absolute;
  bottom: 0;
  margin-left: 1rem;
}

.about div{
  background-color: rgb(212, 234, 255);
  color: black;
  padding: .5rem;
  border-radius: 20px;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.about div:hover{
  transform: scale(1.0999);
}

.about:hover{
  text-decoration: none;
}