.layoutnav{
  background-color: #04009A;
  color: aliceblue;
  font-family: 'Roboto Mono', monospace;
  padding: .5rem;
  font-size: 2.5rem;
}

.layoutnav p{
  display: inline;
}

.navbarlink{
  text-decoration: none;
  margin: 0 2rem;
}

.i{
  margin: 0 2rem;
  width: 4rem;
}